<EditForm Model="@review" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <label>Customer Name</label>
    <div>
        <InputText @bind-Value="@review.Name" class="form-control" />
        <ValidationMessage For="@(()=>review.Name)" />
    </div>
    <label>Product Name</label>
    <div>
        <InputText @bind-Value="@review.ProductName" class="form-control" />
        <ValidationMessage For="@(()=>review.ProductName)" />
    </div>
    <label>Review Description</label>
    <div>
        <InputText @bind-Value="@review.ReviewDesc" class="form-control" />
        <ValidationMessage For="@(()=>review.ReviewDesc)" />
    </div>
    <label>Product Rating ( Out of 5 )</label>
    <div>
        <InputText @bind-Value="@review.Rating" class="form-control" />
        <ValidationMessage For="@(()=>review.Rating)" />
    </div>
    <button type="submit" class="btn btn-success btn-block">
        Publish Review
    </button>
</EditForm>

@code {
    [Parameter] public Review review { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }
}
